.blueButton {
    text-transform: uppercase;
    font-family: 'Fjalla One';
    font-size: 1.8rem;
    color: white;
    background-color: #495AFF;
    width: fit-content;
    padding: 0.6em 1em;
    border-radius: 0.6em;
    cursor: pointer;

    &:hover{
        background-color: #2B41E1;
    }

    &.long {
        width: 100%;
        text-align: center;
    }
}