.page {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  position: relative;

  .pageChild {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &.headband {
      min-height: 20%;
      height: 15em;
      max-height: 30%;
      background-color: var(--color-theme);
    }

    &.content {
      min-height: 100%;
      height: fit-content;
    }
  }

  .pageChild.content {
    padding: 2em 3em;    
  }  
}