.game2 {
  display: flex;
  gap: 2em;
  flex-direction: column;

  .containGameplay {
    display: flex;
    gap: 2em;

    .crossword {
      min-width: 20em;
      flex-grow: 0;
  
      svg {
        rect {
          display: none;
          width: 10px;
          height: 10px;
        }
  
        g {
          rect {
            display: block;
            stroke-width: 0.4!important;
            z-index: 1;
            stroke: rgba(var(--clr-text-primary-hover), 1);
            
            &.incorrect {
              stroke: var(--color-error);
            }

            &.correct {
              stroke: var(--color-valid);
            }
          }
          text {
            fill: rgba(var(--clr-text-primary-hover), 1)!important;
            font-family: 'Poppins';
            &.guess-text-incorrect {
              background-color: rgba(var(--color-error), 1)!important;
            }
          }
        }
      }
      input {
        outline: none;
        top: 0!important;
        left: 0!important;
      }
    }
  
    .clues {
      z-index: 2;
      width: 50em;
      padding: 0;
      flex-grow: 1;
      max-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2em;
      flex-shrink: 0;
      padding: auto;
  
      .direction {
        background-color: rgba(var(--clr-background-secondary));
        padding: 2em;
        margin: 0;
        border-radius: 0.5em;
      }

      .sc-beqWaB {
        cursor: pointer;
        &.eQBssB {
          font-weight: 500;
          background-color: transparent;
        }
      }      
    }
  }

  .containButtons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}