.game3 {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .gameContent {
        display: flex;
        flex-direction: column;
        gap: 2em;

        .questionBlock {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            &.valid {
                .question {
                    color: var(--color-valid);
                }
            }

            &.error {
                .question {
                    color: var(--color-error);
                }
            }

            .answersList {
                display: flex;
                gap: 2em;
                flex-wrap: nowrap;
                margin: 0 0 0 2em;

                .answer {
                    display: flex;
                    gap: 0.5em;
                    flex-wrap: nowrap;
                    background-color: rgba(var(--clr-background-secondary));
                    padding: 0.3em 1em 0.3em 0.5em;
                    border-radius: 5em 2em 2em 5em;
                    color: rgba(var(--clr-text-primary-hover));
                    cursor: pointer;
                    align-items: center;

                    &:hover {
                        background-color: rgba(var(--clr-background-secondary-hover));
                    }

                    .point {
                        height: 1em;
                        width: 1em;
                        background-color: white;
                        border-radius: 50%;
                        &.selected {
                            border-color: white;
                            border-width: 0.2em;
                            border-style: solid inset solid solid;
                            background-color: var(--color-theme);
                        }
                    }
                }

                input{
                    display: none;
                }
            }
        }
    }

    .containButtons {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
}